* {
    margin: 0;
    padding: 0;
}

/*------------------------------------------- nav ----------------------------------------------------*/

header {
    background-image: url("imagem/laranja-container1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 78% 78%;
}

.input-div, .menu-div {
    margin-top: 20px;
}

.menu-div {
    margin-right: 100px;
    cursor: pointer;
}

.conteudo-nav {
    display: flex;
    justify-content: space-between;
}

.input-div {
    margin-left: 100px;
    border: 1px solid white;
    display: flex;
}

.input-div input {
    border: none;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 160px;
    padding: 7px;
    margin-left: 2px;
}

.input-div img {
    margin-bottom: -15px;
    margin-right: 10px;

}

.input-div input::placeholder {
    color: rgba(255, 255, 255, 0.603);
    font-weight: normal;
}

/*------------------------------------------- nav ----------------------------------------------------*/

.conteudo-header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 148px;
}

.h1-header h1 {
    font-family: Merriweather, serif;
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.p-header {
    width: 700px;
    text-align: center;
    margin-bottom: 80px;
}

.p-header p {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.60;
    font-family: 'Open Sans', sans-serif;
}

#button-h-1 {
    background-color: #12c757;
    margin-right: 10px;
}

#button-h-2 {
    color: rgba(0, 0, 0, 0.664);
    margin-left: 10px;

}


#button-h-2 img {
    margin-bottom: -6px;
}

.button-header {
    width: 300px;
    border-radius: 25px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 14px;
    color: white;
    cursor: pointer;
    margin-bottom: 80px;

}

/*------------------------------------------- main ----------------------------------------------------*/

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteudo-main {
    display: grid;
    grid-template-columns: 470px 470px;
    grid-template-rows: auto auto;
    margin-top: 50px;
    grid-column-gap: 120px;
    grid-row-gap: 100px;
}

.div-alimentos {
    display: flex;
}

.texto-prato{
    margin-left: 10px;
}

.texto-prato h3 {
    font-family: Merriweather, serif !important;
    font-weight: 400;
    font-size: 1.26rem;
    line-height: 1.2;
}

.texto-prato h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 2.4rem;
    margin-top: 15px;
}

.texto-prato p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    line-height: 1.5;
}



/*------------------------------------------ responsividade --------------------------------------------*/


@media screen and (max-width: 776px) {
    .div-buttons {
        display: flex;
        flex-direction: column;
    }

    #button-h-2 {
        margin-left: 0px;
    }

    #button-h-1 {
        background-color: #12c757;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .p-header {
        width: 515px;
    }

}

@media screen and (max-width: 616px) {
    .p-header {
        width: 370px;
    }

    .h1-header h1 {
        font-size: 3.10rem;
    }

    .menu-div {
        margin-right: 20px;
    }

    .conteudo-nav {
        display: flex;
        justify-content: space-around;
    }
}


@media screen and (max-width: 496px) {
    .input-div {
        margin-left: 10px;
        border: 1px solid white;
        display: flex;
    }

    .h1-header h1 {
        font-size: 2.50rem;
    }

    .p-header {
        width: 300px;
    }

    .button-header {
        width: 280px;
    }
}

@media screen and (max-width: 384px) {
    .h1-header h1 {
        font-size: 2.20rem;
    }

    .button-header {
        width: 250px;
    }

    .p-header {
        width: 280px;
    }

    .menu-div{
        display: none;
    }

    .conteudo-nav {
        display: flex;
        flex-direction: column;
    }

    .input-div{
        display: block;
        width: 210px;
    }

    .input-div img {
        margin-bottom: -7px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 360px) {
    .h1-header h1 {
        font-size: 2.10rem;
    }

    .p-header {
        width: 250px;
    }

    .button-header{
        width: 215px;
    }
}