* {
    margin: 0;
    padding: 0;
}

/*------------------------------------------- nav ----------------------------------------------------*/

header {
    background-image: url("imagem/laranja-container1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 78% 78%;
    background-size: cover;
}

.input-div, .menu-div {
    margin-top: 20px;
}

.menu-div {
    margin-right: 100px;
    cursor: pointer;
}

.conteudo-nav {
    display: flex;
    justify-content: space-between;
}

.input-div {
    margin-left: 100px;
    border: 1px solid white;
    display: flex;
}

.input-div input {
    border: none;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 160px;
    padding: 7px;
    margin-left: 2px;
}

.input-div img {
    margin-bottom: -15px;
    margin-right: 10px;

}

.input-div input::placeholder {
    color: rgba(255, 255, 255, 0.603);
    font-weight: normal;
}

/*------------------------------------------- nav ----------------------------------------------------*/

.conteudo-header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 148px;
}

.h1-header h1 {
    font-family: Merriweather, serif;
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.p-header {
    width: 700px;
    text-align: center;
    margin-bottom: 80px;
}

.p-header p {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.60;
    font-family: 'Open Sans', sans-serif;
}

#button-h-1 {
    background-color: #12c757;
    margin-right: 10px;
}

#button-h-2 {
    color: rgba(0, 0, 0, 0.664);
    margin-left: 10px;

}


#button-h-2 img {
    margin-bottom: -6px;
}

.button-header {
    width: 300px;
    border-radius: 25px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 14px;
    color: white;
    cursor: pointer;
    margin-bottom: 80px;

}

/*------------------------------------------- main ----------------------------------------------------*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo-main {
    display: grid;
    grid-template-columns: 460px 460px;
    grid-column: auto auto;
    gap: 120px;
}

.pratos-div {
    display: flex;
}

.texto-prato {
    margin-left: 7px;
}

#segundo-prato {
    margin-left: 7px;
}

.texto-prato h1 {
    font-family: Merriweather, serif !important;
    font-size: 1.25rem;
    font-weight: 400;
}

.texto-prato h5 {
    font-size: 2.25rem;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif !important;
}

.p-main {
    font-family: 'Open Sans', sans-serif;
}

.p-main p {
    line-height: 25px;
    font-weight: 400;
    margin-top: 20px;
}

/*-------------------------------------------- abacate -------------------------------------------------*/

.container-abacate {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}

.conteudo-abacate1 {
    width: 50%;
    background-color: #f0cf56;
    color: white;

}

.texto-abacate1{
    margin-left: 120px;
    margin-top: 80px;
}

.texto-abacate1 h1{
    font-family: Merriweather, serif !important;
    font-size: 4.24rem;
}

.texto-abacate1 p{
    font-family: 'Open Sans',sans-serif;
    line-height: 35px;
}

.p-abacate{
    margin-top: 30px;
    width: 520px;
}
.p-abacate span{
    color: white;
    border-bottom: 1px solid white;
}

.button-abacate{
    margin-top: 40px;
}

#button-abacate{
    background-color: #12c757;
    width: 260px;
    border-radius: 25px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 13px;
    color: white;
    cursor: pointer;
}


.conteudo-abacate2 {
    width: 50%;
    background-color: #333;
    background-image: url("imagem/container-3/img-container-3.jpeg");
    background-position: 50% 50%;
    background-size: cover;
}

/*------------------------------------------ responsividade --------------------------------------------*/



@media screen and (max-width: 1232px){
    .p-abacate {
        width: 410px;
    }
}

@media screen and (max-width: 1128px) {
    .conteudo-main {
        gap: 65px;
        grid-template-columns: 391px 391px;
    }

    .texto-abacate1 h1 {
        font-size: 3.40rem;
    }

    .texto-abacate1 {
        margin-left: 60px;
    }

    .p-abacate {
        width: 380px;
    }
}

@media screen and (max-width: 928px) {
    .conteudo-main {
        display: flex;
        flex-direction: column;
    }

    #primeiro-prato {
        margin-top: 80px;
    }

    .p-main {
        width: 460px;
    }

    main {
        height: 100%;
    }

    #ultimo-prato {
        margin-bottom: 50px;
    }

    .p-abacate {
        width: 300px;
    }
}



@media screen and (max-width: 776px) {
    .div-buttons {
        display: flex;
        flex-direction: column;
    }

    #button-h-2 {
        margin-left: 0px;
    }

    #button-h-1 {
        background-color: #12c757;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .p-header {
        width: 515px;
    }

    .pratos-div {
        display: block;
    }

    .p-main {
        margin-top: 2px;
    }



    .conteudo-abacate1{
        height: 68%;
        display: flex;
    }

    .texto-abacate1 {
        margin-top: 50px;
    }

    .texto-abacate1 h1 {
        font-size: 2.90rem;
    }

    .p-abacate {
        width: 600px;
    }

    .br{
        display: none;
    }

    .conteudo-abacate1 {
        width: 100%;

    }
    .container-abacate {
        display: block;
    }


    .conteudo-abacate2{
        height: 800px;
        width: 100%;
    }


}

@media screen and (max-width: 672px) {
    .p-abacate {
        width: 95%;
    }
}



@media screen and (max-width: 616px) {
    .p-header {
        width: 360px;
    }

    .h1-header h1 {
        font-size: 3.4rem;
    }

    .menu-div {
        margin-right: 20px;
    }

    .conteudo-nav {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 560px) {
    .p-main {
        width: 330px;
    }

    .texto-abacate1 h1 {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 488px) {
    .p-header {
        width: 340px;
    }

    .p-header p {
        font-weight: unset;
    }

    .h1-header h1 {
        font-size: 2.80rem;
    }

    .p-main {
        width: 270px;
    }

    .menu-div {
        display: none;
    }

    .conteudo-nav {
        justify-content: center;
        align-items: center;
    }

    .input-div {
        margin-left: 0px;
    }
}

@media screen and (max-width: 444px) {
    .conteudo-abacate1 {
        height: 75%;
    }

    .texto-abacate1 {
        margin-left: 40px;
    }



}


@media screen and (max-width: 416px) {

    .conteudo-abacate1 {
        height: 80%;
    }

    .texto-abacate1 h1 {
        font-size: 2.0rem;
    }

    .p-header {
        width: 300px;
    }

    .p-header p {
        font-weight: unset;
    }

    .h1-header h1 {
        font-size: 2.50rem;
    }
}

@media screen and (max-width: 352px) {

    .p-header {
        width: 280px;
    }

    .h1-header h1 {
        font-size: 2.65rem;
    }

    .button-header {
        width: 260px;
    }

    .p-main {
        width: 200px;
    }

    .pratos-div img {
        width: 165px;
        height: 157px
    }

    .texto-abacate1 {
        margin-left: 30px;
    }

    .texto-abacate1 h1 {
        font-size: 1.70rem;
    }

}

@media screen and (max-width: 312px) {
    .p-header {
        width: 260px;
    }

    .h1-header h1 {
        font-size: 2.25rem;
    }

    .button-header {
        width: 240px;
    }

    .p-main {
        width: 175px;
    }

    .pratos-div img {
        width: 145px;
        height: 137px;
    }

    #button-abacate {
        width: 220px;
    }

}

@media screen and (max-width: 280px) {

    .texto-abacate1 h1 {
        font-size: 1.60rem;
    }

    .p-header {
        width: 212px;
    }

    .h1-header h1 {
        font-size: 2.27rem;
    }

    .button-header {
        width: 220px;
    }

    .conteudo-abacate1 {
        height: 85%;
    }

    #button-abacate {
        width: 200px;
        padding: 12px;
    }
}