* {
    margin: 0;
    padding: 0;
}

/*------------------------------------------- nav ----------------------------------------------------*/

header {
    background-image: url("imagem/laranja-container1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 78% 78%;
}

.input-div, .menu-div {
    margin-top: 20px;
}

.menu-div {
    margin-right: 100px;
    cursor: pointer;
}

.conteudo-nav {
    display: flex;
    justify-content: space-between;
}

.input-div {
    margin-left: 100px;
    border: 1px solid white;
    display: flex;
}

.input-div input {
    border: none;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 160px;
    padding: 7px;
    margin-left: 2px;
}

.input-div img {
    margin-bottom: -15px;
    margin-right: 10px;

}

.input-div input::placeholder {
    color: rgba(255, 255, 255, 0.603);
    font-weight: normal;
}

/*------------------------------------------- nav ----------------------------------------------------*/

.conteudo-header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 148px;
}

.h1-header h1 {
    font-family: Merriweather, serif;
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.p-header {
    width: 700px;
    text-align: center;
    margin-bottom: 80px;
}

.p-header p {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.60;
    font-family: 'Open Sans', sans-serif;
}

#button-h-1 {
    background-color: #12c757;
    margin-right: 10px;
}

#button-h-2 {
    color: rgba(0, 0, 0, 0.664);
    margin-left: 10px;

}


#button-h-2 img {
    margin-bottom: -6px;
}

.button-header {
    width: 300px;
    border-radius: 25px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 14px;
    color: white;
    cursor: pointer;
    margin-bottom: 80px;

}

/*------------------------------------------- main ----------------------------------------------------*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo-main {
    display: grid;
    grid-template-columns: 455px 455px;
    grid-column: auto auto;
    gap: 120px;
}

.pratos-div {
    display: flex;
}

.texto-prato h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.p-main {
    font-family: 'Open Sans', sans-serif;
}

.p-main p {
    line-height: 25px;
    font-weight: 400;
}


/*------------------------------------------ responsividade --------------------------------------------*/


@media screen and (max-width: 776px) {
    .div-buttons {
        display: flex;
        flex-direction: column;
    }

    #button-h-2 {
        margin-left: 0px;
    }

    #button-h-1 {
        background-color: #12c757;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .p-header {
        width: 515px;
    }

}

@media screen and (max-width: 616px) {
    .p-header {
        width: 360px;
    }

    .h1-header h1 {
        font-size: 3.4rem;
    }

    .menu-div {
        margin-right: 20px;
    }

    .conteudo-nav {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 488px) {
    .p-header {
        width: 340px;
    }

    .p-header p{
        font-weight: unset;
    }

    .h1-header h1 {
        font-size: 2.80rem;
    }
}

@media screen and (max-width: 416px) {
    .p-header {
        width: 300px;
    }
    
    .p-header p{
        font-weight: unset;
    }
    
    .h1-header h1 {
        font-size: 2.50rem;
    }
}

@media screen and (max-width: 352px) {

    .p-header {
        width: 280px;
    }

    .h1-header h1 {
        font-size: 2.30rem;
    }

    .button-header {
        width: 260px;
    }    
}

